body{background-color: whitesmoke;}

.wrapper{
	width: 960px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	font-family: 'Righteous', cursive;
} 
.square{
	width:200px;
	height:200px;
	display: inline-block; 
	position: relative;
	z-index: 20;
}

.square:hover{
	cursor: pointer;
}

/*-----------------color default-----------------*/
.green{
	background-color:green;
	background: -webkit-linear-gradient(left top, #00CC66, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #00CC66, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00CC66, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00CC66, green); /* Standard syntax */
	border-radius: 100% 0 0 0;
  -moz-border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
 }
.red{
	background-color:red;
	background: -webkit-linear-gradient(right top, #FF6666, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #FF6666, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #FF6666, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #FF6666, red); /* Standard syntax */
	border-radius:  0 100% 0 0;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
}
.blue{
	background-color:blue;
	background: -webkit-linear-gradient(bottom right, #3399FF, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #3399FF, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #3399FF, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #3399FF, blue); /* Standard syntax */
	border-radius: 0 0 100% 0;
  -moz-border-radius: 0 0 100% 0;
  -webkit-border-radius: 0 0 100% 0;
}
.yellow{
	background-color:yellow;
	background: -webkit-linear-gradient(bottom left, #FFFF99, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #FFFF99, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #FFFF99, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #FFFF99, yellow); /* Standard syntax */
	border-radius: 0 0 0 100%;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
}


/*------------------color clicked----------------*/
.lightgreen{
	background-color:lightgreen;
	background: linear-gradient(to bottom right, #00CC66, lightgreen);
	background: -o-linear-gradient(bottom right, #00CC66, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00CC66, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00CC66, lightgreen); /* Standard syntax */
	border-radius: 100% 0 0 0;
  -moz-border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
}
.lightred{
	background-color:pink;
	background: -webkit-linear-gradient(right top, #FF6666, pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #FF6666, pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #FF6666, pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #FF6666, pink); /* Standard syntax */
	border-radius:  0 100% 0 0;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
}
.lightblue{
	background-color:aliceblue;
	background: -webkit-linear-gradient(bottom right, #3399FF, aliceblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #3399FF, aliceblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #3399FF, aliceblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #3399FF, aliceblue); /* Standard syntax */
	border-radius: 0 0 100% 0;
  -moz-border-radius: 0 0 100% 0;
  -webkit-border-radius: 0 0 100% 0;
}
.lightyellow{
	background-color:lightyellow;
	background: -webkit-linear-gradient(bottom left, #FFFF99, lightyellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #FFFF99, lightyellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #FFFF99, lightyellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #FFFF99, lightyellow); /* Standard syntax */
	border-radius: 0 0 0 100%;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
}

.board{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	font-size:0;  
	background-color: gold;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}

.rim{
	width: 425px;
	height: 425px;
	position: relative;
	z-index: 9;
	background-color: #222;
	border-radius: 50%;
	top: -412.5px;
	left: 267.5px;
	background: -webkit-linear-gradient(bottom right, #000,#000, grey, #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #000,#000, grey, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #000,#000, grey, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #000,#000, grey, #000); /* Standard syntax */
}

.button{
	width: 100px;
	height: 100px;
	font-size: 24px;
	position: relative;
	z-index: 100; 
	text-align: center;
	border-radius: 50%;
	background-color: #222;
	top: -275px;
	left: 125px;
	color: whitesmoke;
	padding: 25px;
	background: -webkit-linear-gradient(bottom right, #000, #555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #000, #555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #000, #555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #000, #555); /* Standard syntax */
}

.hoverable:hover{  
	background: -webkit-linear-gradient(bottom right, #000, #666); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #000, #666); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #000, #666); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #000, #666); /* Standard syntax */
	cursor: pointer;
}

.text{
	position: relative;
	top: 15px;
}

.title{
	font-size: 65px; 
	width: 960px;
	height: 120px;
	text-align: center;
	font-weight: bolder;  
}

.green_text{display: inline-block;transform:rotate(5deg);color:green;}
.red_text{display: inline-block;transform:rotate(5deg);color:red;}
.blue_text{display: inline-block;transform:rotate(5deg);color:blue;}
.yellow_text{display: inline-block;transform:rotate(5deg);color:gold;}
.pink_text{display: inline-block;transform:rotate(5deg);color:pink;}

.info{
	width: 100px;
	height: auto;  
	position: relative;
	top: -1200px;
	left: 900px;
}

.color{
	width: 100px;
	height: auto;
	position: relative;
	top: -900px;
}
.mode_panel{
	position: relative;
	top: -800px;
	left: -50px;
	width: 150px;
	height: auto;
	font-size: 20px;
	color:#222;
}
.modes{
	color:whitesmoke;
	text-align: center;
	padding-top: 15px; 
	font-size: 30px;
	width: 150px;
	height: 60px;
	border-radius: 5%;
	border: whitesmoke solid 1px;
	background: -webkit-linear-gradient(bottom right, #000, #555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #000, #555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #000, #555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #000, #555); /* Standard syntax */
} 

.modes:hover{
	cursor: pointer;
	background: -webkit-linear-gradient(bottom right, red, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, red, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, red, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, red, orange); /* Standard syntax */
}
.highlighted{
	color:#333;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	border: grey solid 1px;
	background: -webkit-linear-gradient(bottom right, red, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, red, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, red, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, red, orange); /* Standard syntax */
}

.score{
	width: 400px;
	height: auto;
	position: relative;
	right: -650px;
	top: -625px;
	font-size: 30px;
}

.footer{
	position: relative;
	top: -830px;
	left: -48px;
	font-size: 12px;
	font-family: Garamond;
	font-weight: normal;
}

.reset{
	position: relative;
	top: -675px;
	left: 140px;
	color:whitesmoke;
	text-align: center;
	padding-top: 7.5px;
	padding-bottom: 7.5px; 
	font-size: 20px;
	width: 100px;
	height: 30px;
	border-radius: 50%;
	border: whitesmoke solid 1px;
	background: -webkit-linear-gradient(bottom right, #222, #999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #222, #999); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #222, #999); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #222, #999); /* Standard syntax */
}

.reset:hover{
	font-size: 22px;
	padding-top: 7.5px; 
	padding-bottom: 7.5px;
	border: darkred solid 1px;
	background: -webkit-linear-gradient(bottom right, darkred, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, darkred, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, darkred, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, darkred, red); /* Standard syntax */
}












